<body>
    <table>
      <thead>
        <tr>
          <th>Mes</th>
          <th>Ingresos facturados</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Enero</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Febrero</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Marzo</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Abril</td>
          <td>108,327</td>
        </tr>
        <tr>
          <td>Mayo</td>
          <td>188,288</td>
        </tr>
        <tr>
          <td>Junio</td>
          <td>128,732</td>
        </tr>
        <tr>
          <td>Julio</td>
          <td>279,123</td>
        </tr>
        <tr>
          <td>Agosto</td>
          <td>136,023</td>
        </tr>
        <tr>
          <td>Septiembre</td>
          <td>125,492</td>
        </tr>
        <tr>
          <td>Octubre</td>
          <td>234,314</td>
        </tr>
        <tr>
          <td>Noviembre</td>
          <td>176,930</td>
        </tr>
        <tr>
          <td>Diciembre</td>
          <td>112,873</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td>1,490,102</td>
        </tr>
      </tfoot>
    </table>
    <div class="info">
      <p><strong>Total de ingresos amparados por comprobantes fiscales efectivamente cobrados:</strong> 1,490,102</p>
    </div>
  </body>