<div style="margin-top: 15px;" class="container-fluid">
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Ingresos acumulables</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="ingresoAcumulable" [(ngModel)]="ingresoAcumulable"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Deducciones personales</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="deduccionesPersonales" [(ngModel)]="deduccionesPersonales"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Base gravable</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="baseGravable" [(ngModel)]="baseGravable"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Limite inferior</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="limiteInferior" [(ngModel)]="limiteInferior"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Excedente del limite inferior</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="excedenteLimiteInferior" [(ngModel)]="excedenteLimiteInferior"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">% Sobre excedente</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="porcentajeExcedente" [(ngModel)]="porcentajeExcedente"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Impuesto marginal</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="impuestoMarginal" [(ngModel)]="impuestoMarginal"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Cuota Fija</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="cuotaFija" [(ngModel)]="cuotaFija"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">ISR conforme a la tarifa anual</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="isrTarifaAnual" [(ngModel)]="isrTarifaAnual" />
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">ISR retenido</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="isrRetenido" [(ngModel)]="isrRetenido" />
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Impuesto a favor del ejercicio</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="isrFinal" [(ngModel)]="isrFinal"/>
      </div>
    </div>
  </div>
  