<div style="margin-top: 15px;" class="container-fluid">
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Ingresos acumulables</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="24,549"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Deducciones personales</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="44,324"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Base gravable</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="0"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">ISR conforme a la tarifa anual</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="0" />
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Pagos provisionales</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="0" />
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">ISR retenido</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="5,400" />
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-6 col-form-label">Impuesto a favor del ejercicio</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" value="5,400"/>
      </div>
    </div>
  </div>
  