<div>
    <!-- Sección de Salarios -->
    <div class="row" style="padding: 10px;">
      <div class="col-md-6">
        <label for="ingresoAnual">Ingreso anual</label>
        <input type="number" class="form-control" id="ingresoAnual" [(ngModel)]="ingreso.ingresoAnual" name="ingresoAnual" />
      </div>
      <div class="col-md-6">
        <label for="ingresoExento">Ingreso exento</label>
        <input type="number" class="form-control" id="ingresoExento" [(ngModel)]="ingreso.ingresoExento" name="ingresoExento" />
      </div>
      <div class="col-md-6">
        <label for="subsidioEmpleo">Subsidio para el empleo</label>
        <input type="number" class="form-control" id="subsidioEmpleo" placeholder="0" />
      </div>
      <div class="col-md-6">
        <label for="subsidioRecibido">Subsidio para el empleo recibido</label>
        <input type="number" class="form-control" id="subsidioRecibido" placeholder="0" />
      </div>
      <div class="col-md-6">
        <label for="impuestoRetenido">Impuesto retenido</label>
        <input type="number" class="form-control" id="impuestoRetenido" [(ngModel)]="ingreso.retencionISR" name="retencionISR" />
      </div>
    </div>
  
    <!-- Sección de Ingresos Exentos -->
    <div style="padding: 10px;">
      <div style="width: 100%; text-align: center; background-color: rgb(209, 207, 207);">
        <h6>Ingresos exentos</h6>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="aguinaldo">Aguinaldo</label>
          <input type="number" class="form-control" id="aguinaldo" placeholder="0" />
        </div>
        <div class="col-md-6">
          <label for="primaVacacional">Prima vacacional</label>
          <input type="number" class="form-control" id="primaVacacional" placeholder="0" />
        </div>
        <div class="col-md-6">
          <label for="ptu">PTU</label>
          <input type="number" class="form-control" id="ptu" placeholder="0" />
        </div>
        <div class="col-md-6">
          <label for="primaDominical">Prima dominical</label>
          <input type="number" class="form-control" id="primaDominical" placeholder="0" />
        </div>
        <div class="col-md-6">
          <label for="otrosIngresosExentos">Otros ingresos exentos</label>
          <input type="number" class="form-control" id="otrosIngresosExentos" placeholder="0" />
        </div>
      </div>
  
      <a href="https://www.sat.gob.mx/declaracion/97720/consulta-el-visor-de-comprobantes-de-nomina-para-el-trabajador" target="_blank" rel="noopener noreferrer">
        Ir al Visor de comprobantes de nómina para el trabajador
      </a>
    </div>
  </div>
  