<div>
    <!-- Sección de Salarios -->
    <div class="row" style="padding: 10px;">
      <div class="col-md-6">
        <label for="ingresoAnual">Ingreso anual</label>
        <input type="number" class="form-control" id="ingresoAnual" [(ngModel)]="ingreso.ingresoAnual" name="ingresoAnual" [readonly]="ingreso.id_ingreso"/>
      </div>
      <div class="col-md-6">
        <label for="ingresoExento">Ingreso exento</label>
        <input type="number" class="form-control" id="ingresoExento" [(ngModel)]="ingreso.ingresoExento" name="ingresoExento" readonly
        data-bs-toggle="popover" 
        data-bs-trigger="hover" 
        data-bs-content="Fundamento legal: Ley del Impuesto Sobre la Renta, en su artículo 93"/>
      </div>
      <div class="col-md-6">
        <label for="subsidioEmpleo">Subsidio para el empleo</label>
        <input type="number" class="form-control" id="subsidioEmpleo" [(ngModel)]="ingreso.subsidioEmpleo" name="subsidioEmpleo" [readonly]="ingreso.id_ingreso"/>
      </div>
      <div class="col-md-6">
        <label for="impuestoRetenido">Impuesto retenido</label>
        <input type="number" class="form-control" id="impuestoRetenido" [(ngModel)]="ingreso.retencionISR" name="retencionISR" [readonly]="ingreso.id_ingreso"/>
      </div>
    </div>
  
    <!-- Sección de Ingresos Exentos -->
    <div style="padding: 10px;">
      <div style="width: 100%; text-align: center; background-color: rgb(209, 207, 207);">
        <h6>Ingresos exentos</h6>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="aguinaldo">Aguinaldo</label>
          <input type="number" class="form-control" id="aguinaldo" [(ngModel)]="ingreso.aguinaldo" (ngModelChange)="calcularIngresos()" [readonly]="ingreso.id_ingreso"
          data-bs-toggle="popover" 
          data-bs-trigger="hover"
          data-bs-html="true" 
          data-bs-content="Tope exento: 30 UMAS<br>Art. 93 Fracción XIV LISR"/>
        </div>
        <div class="col-md-6">
          <label for="primaVacacional">Prima vacacional</label>
          <input type="number" class="form-control" id="primaVacacional" [(ngModel)]="ingreso.primaVacacional" (ngModelChange)="calcularIngresos()" [readonly]="ingreso.id_ingreso"
          data-bs-toggle="popover" 
          data-bs-trigger="hover"
          data-bs-html="true" 
          data-bs-content="Tope exento: 15 UMAS<br>Art. 93 Fracción XIV LISR"/>
        </div>
        <div class="col-md-6">
          <label for="ptu">PTU</label>
          <input type="number" class="form-control" id="ptu" [(ngModel)]="ingreso.ptu" (ngModelChange)="calcularIngresos()" [readonly]="ingreso.id_ingreso"
          data-bs-toggle="popover" 
          data-bs-trigger="hover"
          data-bs-html="true" 
          data-bs-content="Tope exento: 15 UMAS<br>Art. 93 Fracción XIV LISR"/>
        </div>
        <div class="col-md-6">
          <label for="primaDominical">Prima dominical</label>
          <input type="number" class="form-control" id="primaDominical" [(ngModel)]="ingreso.primaDominical" (ngModelChange)="calcularIngresos()" [readonly]="ingreso.id_ingreso"
          data-bs-toggle="popover" 
          data-bs-trigger="hover"
          data-bs-html="true" 
          data-bs-content="Tope exento: 1 UMA por cada domingo que se labore<br>Art. 93 Fracción XIV LISR"/>
        </div>
      </div>
  
      <a href="https://www.sat.gob.mx/declaracion/97720/consulta-el-visor-de-comprobantes-de-nomina-para-el-trabajador" target="_blank" rel="noopener noreferrer">
        Ir al Visor de comprobantes de nómina para el trabajador
      </a>
    </div>
  </div>
  