<div class="container">
    <div class="row align-items-center">
        <!-- Columna para la pregunta -->
        <div class="col-md-6 mb-3">
          <label class="form-label">
            ¿Eres integrante de una sociedad cooperativa de producción dedicada exclusivamente a actividades pesqueras o silvícolas que cuente con concesión o permiso del Gobierno Federal?
          </label>
        </div>
      
        <!-- Columna para la selección con borde rojo -->
        <div class="col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Selecciona">
              <mat-option value="">Selecciona</mat-option>
              <mat-option value="si">Sí</mat-option>
              <mat-option value="no">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      

      <!-- Campos de ingreso asimilado e impuesto retenido -->
      <div class="col-6 mb-3">
        <label>Ingresos asimilados</label>
        <input type="text" class="form-control" value="15,919" readonly>
      </div>
      <div class="col-6 mb-3">
        <label>Impuesto retenido</label>
        <input type="text" class="form-control" placeholder="Ingresa valor">
      </div>
    </div>
  </div>
  