

<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Determinación del ISR</mat-panel-title>
        </mat-expansion-panel-header>
          <div class="input-container">
                <label>A cargo</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
          <div class="input-container">
                <label>Tasa de contribuciones</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
          <div class="input-container">
                <label>¿Desea aplicar alguna compensación o estímulo fiscal?</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
          <div class="input-container">
                <label>Cantidad a cargo</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
          <div class="input-container">
                <label>Cantidad a pagar</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
        </mat-expansion-panel>

</mat-accordion>