<div class="page-container">
    <main class="content-container">
      <div class="inicio-section">
        <div class="columns">
          <!-- Primera columna -->
          <div class="column">
            <h2>Verificaciones</h2>
            <button class="custom-button" (click)="goToEfirma()">Comprobar vigencia de la E-Firma</button>
            <button class="custom-button" (click)="goToRyo()">Obtén tu Opinión del cumplimiento de obligaciones fiscales</button>
            <button class="custom-button" (click)="goToBuzon()">Verificación de buzón tributario</button>
            <button class="custom-button" (click)="goToListado()">Consulta la relación de contribuyentes con operaciones presuntamente inexistentes</button>
          </div>
        </div>
      </div>
    </main>
  </div>
  