.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
  }
  
  .header, footer {
    background-color: #3f51b5;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido */
    color: white; /* Asegura que el texto sea visible */
    font-size: 1.5rem; /* Tamaño de letra en el header y footer */
  }
  
  .content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    padding: 2rem;
  }
  
  .inicio-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alineación de las secciones desde arriba */
    margin-top: 0;
  }
  
  .columns {
    display: flex;
    gap: 2rem; /* Espacio entre las columnas */
    flex-wrap: wrap; /* Permite que las columnas se ajusten en pantallas más pequeñas */
    justify-content: center; /* Centra las columnas en la sección */
  }
  
  .column {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más suave y más difusa */
    width: 100%;
    max-width: 400px;
    transition: transform 0.2s; /* Transición para el hover */
  }
  
  .column:hover {
    transform: scale(1.02); /* Efecto de hover para las columnas */
  }
  
  h2 {
    text-align: center;
    color: #3f51b5;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }
  
  .custom-button {
    width: 100%;
    padding: 1rem;
    background-color: #3f51b5; /* Botones negros */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem; /* Espacio entre botones */
    transition: background-color 0.3s ease, transform 0.2s; /* Transiciones para el hover */
  }
  
  .custom-button:hover {
    background-color: #303030; /* Cambio de color al pasar el cursor */
    transform: scale(1.05); /* Aumenta el tamaño del botón al pasar el cursor */
  }
  