<div class="container">
  <div class="deducciones-container p-3">
    <h5>Deducciones personales</h5>
    <p>Da clic en el botón "Actualizar" para verificar que el Monto total deducible y las deducciones precargadas están mostrando los valores actualizados por la modificación de la información.</p>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <label for="montoTotalDeducible" class="form-label">Monto total deducible</label>
        <input type="text" class="form-control" id="montoTotalDeducible" [(ngModel)]="montoTotalDeducible" name="montoTotalDeducible" disabled
        data-bs-toggle="popover" 
        data-bs-trigger="hover"
        data-bs-html="true" 
        data-bs-content="<strong>Tope máximo</strong><br>El monto total por deducir no podrá exceder de la cantidad que resulte menor entre el 15% total 
        de tus ingresos o de $198,031.8 (5 UMA's elevadas al año)"/>
      </div>
      <div>
        <label for="montoPorDeducir" class="form-label">Monto total por deducir</label>
        <input type="number" class="form-control" [(ngModel)]="montoPorDeducir"/>
      </div>
      <button class="btn btn-primary mt-4" (click)="actualizar()">Actualizar</button>
    </div>

    <div class="deducciones-grid">
      <div 
        class="deduccion-card" 
        *ngFor="let deduccion of deducciones" 
        (click)="selectDeduccion(deduccion)"
        [class.selected]="deduccion === selectedDeduccion">
        <div class="deduccion-icon">
          <i [class]="deduccion.iconClass"></i>
        </div>
        <div class="deduccion-text">
          <h6>{{ deduccion.title }}</h6>
          <span class="badge bg-danger">{{ deduccion.count }}</span>
        </div>
      </div>
    </div>

    <p class="instructions mt-4">
      Instrucciones: selecciona un tipo de deducción para visualizar tus deducciones precargadas, de lo contrario da clic en el botón agregar.
    </p>


    <!-- Tabla de detalles -->
<div *ngIf="selectedDeduccion">
  <!-- Botón Agregar -->
  <button class="btn btn-primary mb-4" (click)="addDeduccion()">Agregar</button>

  <h5>{{ selectedDeduccion.title }}</h5>
  <table class="table">
    <thead>
      <tr>
        <th>RFC del emisor</th>
        <th>Nombre, denominación o razón social</th>
        <th>Fecha emisión</th>
        <th>Descripción</th>
        <th>Importe</th>
        <th>Monto deducible</th>
        <th>Acciones</th> <!-- Columna para los íconos -->
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!selectedDeduccion.data.length">
        <td colspan="7" class="text-center">No se encontraron registros</td>
      </tr>
      <tr *ngFor="let item of selectedDeduccion.data; let i = index">
        <td>{{ item.rfc_emisor }}</td>
            <td>{{ item.empresa }}</td>
            <td>{{ sumarUnDia(item.fecha_emision) | date: 'dd-MM-yyyy' }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.importe }}</td>
            <td>{{ item.deducible }}</td>
        <td>
          <!-- Ícono de eliminar -->
          <button class="btn btn-danger btn-sm" (click)="eliminarDeduccion(i)">
            <i class="fas fa-trash"></i> <!-- Usando el ícono de Font Awesome -->
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-sm-6 text-end">
    <button class="btn btn-primary me-2" [routerLink]="'/sueldos-y-salarios'">Volver</button>
  </div>
</div>
  </div>
</div>
