<div class="container">
    <mat-toolbar class="text-white menu">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon class="text-white">menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon class="text-white">favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon class="text-white">share</mat-icon>
        </button>
    </mat-toolbar>

    <main>
        <section class="income-selection">
            <h3>Selecciona el régimen al que perteneces</h3>
            <p>Es necesario que conozcas las características de cada régimen fiscal para saber a cuál perteneces</p>
            <br>
            <form (ngSubmit)="confirmarRegimen()">
                <label class="radio-option" [class.selected]="selectedOption === 'confianza'">
                    <input type="radio" name="income" value="confianza" [(ngModel)]="selectedOption" (change)="mostrarMensaje()">
                    Régimen simplificado de confianza (RESICO)
                </label>

                <label class="radio-option" [class.selected]="selectedOption === 'sueldos'">
                    <input type="radio" name="income" value="sueldos" [(ngModel)]="selectedOption" (change)="mostrarMensaje()">
                    Sueldos y salarios e ingresos asimilados a salarios
                </label>

                <label class="radio-option" [class.selected]="selectedOption === 'plataformas'">
                    <input type="radio" name="income" value="plataformas" [(ngModel)]="selectedOption" (change)="mostrarMensaje()">
                    Régimen de actividades empresariales con ingresos a través de plataformas tecnológicas
                </label>

                <label class="radio-option" [class.selected]="selectedOption === 'empresarial'">
                    <input type="radio" name="income" value="empresarial" [(ngModel)]="selectedOption" (change)="mostrarMensaje()">
                    Régimen de Actividad Empresarial y Profesional
                </label>

                <label class="radio-option" [class.selected]="selectedOption === 'premio'">
                    <input type="radio" name="income" value="premio" [(ngModel)]="selectedOption" (change)="mostrarMensaje()">
                    Régimen de los Ingresos por la obtención de premios
                </label>

                <!-- Botón dentro del formulario que ejecuta la función confirmarRegimen -->
                <button type="submit" class="confirm-button">Confirmar mi régimen</button>
            </form>
        </section>

        <section class="fiscal-regime">
            <h3>Características de tu régimen</h3>
            <p>{{titulo}}</p>
            <article class="regime-info">
                <p>{{contenido}}</p>
            </article>
        </section>
    </main>
</div>
