
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.example-spacer {
    flex: 1 1 auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.menu {
    background-color: #3f51b5;
}

.container {
    width: 80%;
    margin: 0 auto;
}



footer {
    background-color: #3f51b5;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

.toolbar-title {
    flex: 1;
    text-align: center;
    font-size: 40px;
  }  

.income-selection h3, .fiscal-regime h3 {
    color: #6c63ff;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

.selected {
    border: 2px solid #6c63ff;
    box-shadow: 0 2px 8px rgba(79, 98, 209, 0.2);
    background-color: #e8e8ff;
}

input[type="radio"] {
    margin-right: 10px;
}

.fiscal-regime {
    margin-top: 30px;
}

.regime-info {
    margin-top: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 5px solid #333;
}

.confirm-button {
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background-color: #303f9f;
}

button:disabled {
    background-color: #9fa8da;
    cursor: not-allowed;
  }

.confirm-button:disabled:hover {
    background-color: #9fa8da; /* Mantén el mismo color en hover cuando está deshabilitado */
}

/* Estilos previos */
.radio-option {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.video-button {
    margin-right: 3%;
}

.radio-option:hover {
    background-color: #f0f0f0;
}

.selected {
    border: 2px solid #6c63ff;
    box-shadow: 0 2px 8px rgba(79, 98, 209, 0.2);
    background-color: #e8e8ff;
}

input[type="radio"] {
    margin-right: 10px;
}

/* Layout and slideshow styles */
.row {
    display: flex;
}

.left-section {
    width: 50%;
    padding-right: 20px;
}

.right-section {
    width: 50%;
    position: relative; /* Ensure the arrows are positioned relative to this section */
}

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 540px;
    height: 540px;
    margin: auto;
    overflow: hidden;
    background-color: #f1f1f1;
}

.slide {
    display: none;
    padding: 0px;
    text-align: center;
    color: white;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Different background colors for each slide */
.slide:nth-child(1) {
    background-color: #ff6347; /* Tomato */
}

.slide:nth-child(2) {
    background-color: #4682b4; /* Steel Blue */
}

.slide:nth-child(3) {
    background-color: #32cd32; /* Lime Green */
}

.slide:nth-child(4) {
    background-color: #4682b4; /* Steel Blue */
}

.slide:nth-child(5) {
    background-color: #32cd32; /* Lime Green */
}

/* Animation for sliding (simultaneous) */
.slide-enter {
    animation: slideIn 1s forwards;
}

.slide-exit {
    animation: slideOut 1s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/*
Flechas de navegación
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
    z-index: 10;
}
*/

.next {
    right: 10px; /* Move closer to the slides */
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 10px; /* Move closer to the slides */
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Ensure the arrows are always visible */
.slideshow-container:hover .prev, 
.slideshow-container:hover .next {
    visibility: visible;
}

.prev, .next {
    visibility: visible;
}


.button-container {
    display: flex;
    justify-content: left;
    margin-top: 10px;
  }

  button {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }