<br>
<p><i>Los campos marcados con asterisco (*) son obligatorios</i></p>
<br>


    <div class="form-group">
        <label>Total de ingresos percibidos por la actividad <span class="material-icons" style="font-size:14px; cursor:pointer;">help_outline</span></label>
        <input type="number">
    </div>

    <div class="form-group">
        <label>Base grabable (=)</label>
        <div>
            <input type="number" placeholder="0">
        </div>
    </div>

    <div class="form-group">
        <label>Tasa aplicable (x)</label>
        <div>
            <input type="number" placeholder="0">
        </div>
    </div>

    <div class="form-group">
        <label>Impuesto mensual (=)</label>
        <div>
            <input type="number" placeholder="0">
        </div>
    </div>

    <div class="form-group">
        <label>ISR retenido por personas morales (-)<span class="material-icons" style="font-size:14px; cursor:pointer;">help_outline</span></label>
        <div>
            <input type="number" placeholder="0">
            <button>Ver detalle</button>
        </div>
    </div>

    <div class="form-group">
        <label>Impuesto a cargo (=)</label>
        <div>
            <input type="number" placeholder="0">
        </div>
    </div>