<br>
    <div class="form-group">
        <label>Total de ingresos percibidos por la actividad <span class="material-icons" (click)="openModal(modal1)">help_outline</span></label>
        <input type="number" [(ngModel)]="totalIngresos" (input)="onTotalIngresosChange()" min="0" max="291666" onkeypress="return event.key !== '-' && event.key !== '.'">
    </div>

    <div class="form-group">
        <label>Base grabable (=)<span class="material-icons" (click)="openModal(modal2)">help_outline</span></label>
        <div>
            <input type="number" [value]="baseGravable" readonly>
        </div>
    </div>

    <div class="form-group">
        <label>Tasa aplicable % (x)<span class="material-icons" (click)="openModal(modal3)">help_outline</span></label>
        <div>
            <input type="number" [value]="tasaAplicable" readonly>
        </div>
    </div>

    <div class="form-group">
        <label>Impuesto mensual (=)<span class="material-icons" (click)="openModal(modal4)">help_outline</span></label>
        <div>
            <input type="number" [value]="impuestoMensual" readonly>
        </div>
    </div>

    <div class="form-group">
        <label>ISR retenido por personas morales (-)<span class="material-icons" (click)="openModal(modal5)">help_outline</span></label>
        <div>
            <input type="number" [(ngModel)]="isrRetenido" (input)="onIsrRetenidoChange()" onkeypress="return event.key !== '-'">
            <!--<button>Ver detalle</button>-->
        </div>
    </div>

    <div class="form-group">
        <label>Impuesto a cargo (=)<span class="material-icons" (click)="openModal(modal6)">help_outline</span></label>
        <div>
            <input type="number" [value]="impuestoACargo" readonly min="0">
        </div>
    </div>
    <!--<button>Continuar</button>-->

    <!-- Modal 1 -->
  <ng-template #modal1>
    <h1 mat-dialog-title>Total de ingresos efectivamente cobrados</h1>
    <div mat-dialog-content>
      <p>Total de los ingresos gravados en la seccion anterior (ingresos).</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeModal()">Cerrar</button>
    </div>
  </ng-template>

  <!-- Modal 2 -->
  <ng-template #modal2>
    <h1 mat-dialog-title>Base grabable</h1>
    <div mat-dialog-content>
      <p>Es la misma cantidad que en el campo anterior, este campo se llena automaticamente.</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeModal()">Cerrar</button>
    </div>
  </ng-template>

  <!-- Modal 3 -->
  <ng-template #modal3>
    <h1 mat-dialog-title>Tasa aplicable</h1>
    <div mat-dialog-content>
        <p>Este campo esta prellenado con la tasa de impuestos aplicable correspondiente a la base gravada, como se muestra en la siguiente tabla:</p>
        <img src="assets/imagenes/F_tasas_mensual.png" class="imagen-ajustada">
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeModal()">Cerrar</button>
    </div>
  </ng-template>

  <!-- Modal 4 -->
  <ng-template #modal4>
    <h1 mat-dialog-title>Impuesto mensual</h1>
    <div mat-dialog-content>
      <p>Impuesto resultante de multiplicar la base grabable por la tasa aplicable correspondiente. Este campo se llena automaticamente</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeModal()">Cerrar</button>
    </div>
  </ng-template>

  <!-- Modal 5 -->
  <ng-template #modal5>
    <h1 mat-dialog-title>ISR retenido por personas morales</h1>
    <div mat-dialog-content>
      <p>Este es campo vamos a especificar las cantidades de ISR retenido en Comprobantes Fiscales Digitales por Internet (CFDI) y por personas morales</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeModal()">Cerrar</button>
    </div>
  </ng-template>

  <!-- Modal 6 -->
  <ng-template #modal6>
    <h1 mat-dialog-title>Impuesto a cargo</h1>
    <div mat-dialog-content>
      <p>Es el impuesto que resta por pagar. Este campo se llena automaticamente.</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeModal()">Cerrar</button>
    </div>
  </ng-template>