<!-- Incluye el componente de Header -->
<app-header [title]="'Relación de Contribuyentes Con Operaciones Anomalas'"></app-header>

<div class="container">
    <div class="content-container">
        <section class="inicio-section">
            <div class="columns">
                <div class="column">
                    <h2>¿Qué son las Operaciones Presuntamente Inexistentes?</h2>
                    <p>Las operaciones presuntamente inexistentes son aquellas en las que un contribuyente ha emitido comprobantes fiscales, pero no se puede comprobar que se haya realizado la operación que se menciona en ellos.</p>
                </div>
                <div class="column">
                    <h2>¿Por qué es importante esta consulta?</h2>
                    <p>Consultar la relación de contribuyentes con operaciones presuntamente inexistentes es fundamental para:</p>
                    <ul>
                        <li>Identificar posibles riesgos fiscales.</li>
                        <li>Tomar decisiones informadas en tus operaciones comerciales.</li>
                        <li>Evitar posibles problemas con la autoridad fiscal.</li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Cómo realizar la consulta</h2>
                    <p>Para realizar la consulta, accede al siguiente <a href="https://www.sat.gob.mx/consultas/76674/consulta-la-relacion-de-contribuyentes-con-operaciones-presuntamente-inexistentes" target="_blank">enlace de consulta</a>.</p>
                    <p>También puedes consultar cifras adicionales en el <a href="http://omawww.sat.gob.mx/cifras_sat/Paginas/datos/vinculo.html?page=ListCompleta69B.html" target="_blank">portal de cifras del SAT</a>.</p>
                </div>
            </div>

            <div class="extra-info">
                <div class="aviso">
                    <p><strong>Aviso:</strong> Es importante que revises esta información regularmente para mantenerte informado sobre las operaciones de tus socios comerciales.</p>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
               
                <button class="custom-button" (click)="goToVerificaciones()">Regresar</button>
            </div>
        </section>
    </div>
</div>

<app-footer></app-footer>