<br>
<div class="input-container">
    <label style="margin: 20px;">Cantidad a pagar</label>
        <mat-form-field >
            <mat-label>Cantidad a pagar</mat-label>
            <input matInput type="number" [value]="cantidadAPagar" readonly disabled/>
        </mat-form-field>
</div>
<br>
<div class="input-container">
    <label style="margin: 20px;">ISR retenido por personas morales</label>
        <mat-form-field >
            <mat-label>ISR retenido por personas morales</mat-label>
            <input matInput type="number" [value]="isrRetenido" readonly disabled/>
        </mat-form-field>
</div>
<br>
<button>Finalizar</button>

