

<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Determinación del ISR</mat-panel-title>
        </mat-expansion-panel-header>
          <div class="input-container">
                <label>Base gravable</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
          <div class="input-container">
                <label>Tasa aplicable (x)</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
          <div class="input-container">
                <label>ISR causado (=)</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
          <div class="input-container">
                <label>Pagos mensuales (-)</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
          <div class="input-container">
                <label>ISR retenido (-)</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
          <div class="input-container">
                <label>Impuesto a cargo (=)</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese otro dato</mat-label>
                        <input matInput placeholder="Otro ejemplo de entrada de datos" />
                    </mat-form-field>
          </div>
        </mat-expansion-panel>

</mat-accordion>