<app-header [title]="'Biblioteca Virtual'"></app-header>

<app-body>

  <main class="content-container">
    <div class="inicio-section">
      <div class="grid-container">
        <!-- Primera fila de tres -->
        <div class="grid-item">
          <div class="card">
            <button class="custom-button" (click)="goTobrfc()">¿Qué es un RFC?</button>
            <div class="image-space">
              <img src="assets/imagenes/AngelRFC.jpg" alt="Imagen RFC" class="responsive-image" (click)="openModal('assets/imagenes/AngelRFC.jpg', 'Ejemplo de RFC')">
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <button class="custom-button" (click)="goTobefirma()">¿Qué es la E-firma?</button>
            <div class="image-space">
              <img src="assets/imagenes/AngelEim.png" alt="Imagen Firma E" class="responsive-image" (click)="openModal('assets/imagenes/AngelEim.png', 'Ejemplo de E-firma')">
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <button class="custom-button"   (click)="goTobiva()">¿Qué es el IVA?</button>
            <div class="image-space">
              <img src="assets/imagenes/AngelIVA.png" alt="Imagen IVA" class="responsive-image" (click)="openModal('assets/imagenes/AngelIVA.png', 'IVA')">
            </div>
          </div>
        </div>

        <!-- Segunda fila de tres -->
        <div class="grid-item">
          <div class="card">
            <button class="custom-button"   (click)="goTobisr()">¿Qué es el ISR?</button>
            <div class="image-space">
              <img src="assets/imagenes/AngelISR.png" alt="Imagen ISR" class="responsive-image" (click)="openModal('assets/imagenes/AngelISR.png', 'ISR')">
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <button class="custom-button"   (click)="goTobresico()">Régimen simplificado de confianza</button>
            <div class="image-space">
              <img src="assets/imagenes/R2.png" alt="Imagen RESICO" class="responsive-image" (click)="openModal('assets/imagenes/R2.png', 'RESICO')">
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <button class="custom-button"   (click)="goTobsalarios()">Sueldos y Salarios e Ingresos Asimilados a Salarios</button>
            <div class="image-space">
              <img src="assets/imagenes/AngelSUELDOS.png" alt="Imagen SUELDOS" class="responsive-image" (click)="openModal('assets/imagenes/AngelSUELDOS.png', 'SUELDOS')">
            </div>
          </div>
        </div>

        <!-- Tercera fila de tres -->
        <div class="grid-item">
          <div class="card">
            <button class="custom-button"    (click)="goTobtecnologicas()">Régimen de actividades empresariales con ingresos a través de plataformas tecnológicas</button>
            <div class="image-space">
              <img src="assets/imagenes/AngelTecnologicas.png" alt="Imagen TECNOLOGICAS" class="responsive-image" (click)="openModal('assets/imagenes/AngelTecnologicas.png', 'TECNOLOGICAS')">
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <button class="custom-button"   (click)="goTobeyp()">Régimen de Actividad Empresarial y Profesional</button>
            <div class="image-space">
              <img src="assets/imagenes/AngelProfesional.png" alt="Imagen PROFESIONAL" class="responsive-image" (click)="openModal('assets/imagenes/AngelProfesional.png', 'PROFESIONAL')">
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <button class="custom-button"    (click)="goTobpremios()">Régimen de los Ingresos por la obtención de premios</button>
            <div class="image-space">
              <img src="assets/imagenes/AngelPremios.png" alt="Imagen PREMIOS" class="responsive-image" (click)="openModal('assets/imagenes/AngelPremios.png', 'PREMIOS')">
            </div>
          </div>
        </div>

        <!--Agregue el de intereses-->

        <div class="grid-item">
          <div class="card">
            <button class="custom-button"    (click)="goTointeres()">Régimen de ingresos por intereses</button>
            <div class="image-space">
              <img src="assets/imagenes/intereses.jpg" alt="Imagen INTERESES" class="responsive-image" (click)="openModal('assets/imagenes/intereses.jpg', 'INTERESES')">
            </div>
          </div>
        </div>

      </div>

      
    </div>
  </main>

</app-body>

<app-footer></app-footer>
