<!-- sign-up.component.html -->
<div class="page-container">
    <main class="content-container">
      <div class="change-password-section">

        <div *ngIf="validationMessage" class="alert alert-danger" role="alert">
            {{ validationMessage }}
        </div>

        <form [formGroup]="changePasswordForm.changePasswordForm" (ngSubmit)="onSignUpSubmit()" class="cp-form">
          <div class="login-icon">
            <i class="fas fa-user-circle"></i>
          </div>
  
          <h2>Cambiar Contraseña</h2>

            <!-- Campo de Contraseña -->
            <div class="form-group">
                <label for="password">Nueva Contraseña</label>
                <div class="input-with-icon">
                    <i class="material-icons">lock</i>
                    <input type="password" id="password" formControlName="password" placeholder="Ingresa tu contraseña" required>
                </div>
                <mat-error *ngIf="changePasswordForm.password?.invalid && changePasswordForm.password?.touched">
                    <ng-container *ngIf="changePasswordForm.password?.hasError('required')">La contraseña es requerida.</ng-container>
                    <ng-container *ngIf="changePasswordForm.password?.hasError('minlength')">La contraseña debe tener al menos 6 caracteres.</ng-container>
                </mat-error>
            </div>

            <!-- Campo de Confirmar Contraseña -->
            <div class="form-group">
                <label for="confirmPassword">Confirmar Contraseña</label>
                <div class="input-with-icon">
                    <i class="material-icons">lock</i>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirma tu contraseña" required>
                </div>
                <mat-error *ngIf="changePasswordForm.confirmPassword?.invalid && changePasswordForm.confirmPassword?.touched">
                    <ng-container *ngIf="changePasswordForm.confirmPassword?.hasError('required')">Confirmar contraseña es requerido.</ng-container>
                    <ng-container *ngIf="changePasswordForm.changePasswordForm.hasError('mismatch')">Las contraseñas no coinciden.</ng-container>
                </mat-error>
            </div>

            <!-- Alerta de exito -->
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
  
            <!-- Alerta de exito -->
            <div *ngIf="successMessage" class="alert alert-success" role="alert">
                {{ successMessage }}
            </div>
  
            <!-- Botón para Cambiar contraseña -->
            <button type="submit" [disabled]="!changePasswordForm.changePasswordForm.valid || validationMessage">Cambiar contraseña</button>
        
        </form>
    </div>
  </main>
</div>
