<app-header [title]="'El RFC'"></app-header> <!-- Encabezado de Verificaciones -->
<div class="container">

    <h2>¿Qué es el RFC?</h2>
    <p>El Registro Federal de Contribuyentes (RFC) es una clave única que asigna el Servicio de Administración Tributaria (SAT) en México a personas físicas y morales que realizan actividades económicas. Es una herramienta fundamental en el sistema fiscal del país.</p>

    <div class="image-space">
      <img src="assets/imagenes/AngelERFC.png" alt="Proceso de Registro de RFC" class="responsive-image">
    </div>

    <div class="info-box">
      <h3>¿Por qué es importante el RFC?</h3>
      <p>El RFC permite al SAT identificar a los contribuyentes y monitorear sus obligaciones fiscales. Es necesario para facturación, declaración de impuestos, y otras actividades fiscales.</p>
    </div>

    <h3>¿Para qué sirve el RFC?</h3>
    <ul>
      <li>Realizar trámites fiscales y administrativos.</li>
      <li>Emitir y recibir comprobantes fiscales digitales.</li>
      <li>Declarar impuestos.</li>
      <li>Acceder a beneficios y subsidios fiscales.</li>
    </ul>
    <div class="image-space">
      <img src="assets/imagenes/AngelRRFC.png" alt="Proceso de Registro de RFC" class="responsive-image">
    </div>

      <!-- Contenedor centrado para el botón -->
      <div class="button-container">
        <a href="https://www.sat.gob.mx/tramites/28753/obten-tu-rfc-con-la-clave-unica-de-registro-de-poblacion-curp" target="_blank">
          <button>Conoce más sobre el RFC</button>
        </a>
      </div>



      <!-- Contenedor centrado para el botón -->
      <div class="button-container">
        <button class="custom-button" (click)="goToInicio()">Regresar</button>
      </div>

      <div id="imageModal" class="modal" (click)="closeModal()">
        <span class="close" (click)="closeModal()">&times;</span>
        <img class="modal-content" [src]="modalImage" id="modalImage" alt="Imagen ampliada">
        <div id="caption">{{ modalCaption }}</div>
      </div>
    </div>

  <app-footer></app-footer> <!-- Pie de página de Verificaciones -->
