<!-- sign-up.component.html -->
<div class="page-container">
    <main class="content-container">
      <div class="forgot-password-section">
        <form [formGroup]="forgotPasswordForm.fpForm" (ngSubmit)="onFPSubmit()" class="login-form">
          <div class="login-icon">
            <i class="fas fa-user-circle"></i>
          </div>
  
          <h2>Recuperar Contraseña</h2>
          
          <p style="text-align: center;">Ingresa el correo de tu cuenta y te envíaremos un link de confirmación para actualizar tu contraseña</p>

          <!-- Campo de Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <div class="input-with-icon">
              <i class="material-icons">email</i>
              <input type="email" id="email" formControlName="email" placeholder="Ingresa tu correo" required>
            </div>
            <mat-error *ngIf="forgotPasswordForm.email?.invalid && forgotPasswordForm.email?.touched">
              <ng-container *ngIf="forgotPasswordForm.email?.hasError('required')">El correo es requerido.</ng-container>
              <ng-container *ngIf="forgotPasswordForm.email?.hasError('email')">Formato de correo inválido.</ng-container>
            </mat-error>
          </div>
  
          <!-- Alerta de exito -->
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
  
          <!-- Alerta de exito -->
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>
  
          <!-- Botón para Cambiar contraseña -->
          <button type="submit" [disabled]="!forgotPasswordForm.fpForm.valid">Cambiar contraseña</button>

          <!-- Botón para Volver -->
          <button (click)="goToLogin()">Volver al inicio</button>
  
        </form>
      </div>
    </main>
</div>
  