<app-header [title]="'Empresarial y Profesional'"></app-header>

<app-body>
  <h1 style="text-align: center; font-size: 3rem;">Ejercicios previamente guardados</h1>

  <table class="table">
    <thead>
      <tr>
        <th>ID Registro</th>
        <th>Tipo declaración</th>
        <th>ISR</th>
        <th>IVA</th>
        <th>Monto deducible</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!(empresarialBD?.length) && !loading">
        <td colspan="6" class="text-center">No se encontraron registros</td>
      </tr>      
      <tr *ngFor="let empresarial of empresarialBD">
        <td>{{ empresarial.id_registro }}</td>
        <td>
          {{ empresarial.tipo_dec === 'A' ? 'Declaración anual' : empresarial.tipo_dec === 'M' ? 'Declaración mensual' : 'Otro' }}
        </td>
        <td>
          {{ empresarial.tipo_dec === 'A' ? empresarial.isr_final_a : empresarial.tipo_dec === 'M' ? empresarial.isr_final_m : 'Otro' }}
        </td>
        <!-- <td>
          {{ empresarial.tipo_dec === 'A' ? empresarial.iva_final_a : empresarial.tipo_dec === 'M' ? empresarial.iva_final_m : 'Otro' }}
        </td> -->
        <td>
          {{ empresarial.tipo_dec === 'A' ? empresarial.monto_deducir_a : empresarial.tipo_dec === 'M' ? empresarial.monto_deducir_m : 'Otro' }}
        </td>
      </tr>
      <tr *ngIf="loading">
        <td colspan="6" class="text-center">Cargando registros...</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-6 text-end">
      <button class="btn btn-primary me-2" [routerLink]="'/Inicio'">Volver al inicio</button>
    </div>
    <div class="col-sm-6 text-end">
      <button class="btn btn-success" [routerLink]="'/edatos'">Ir al ejercicio</button>
    </div>
  </div>
  
</app-body>

<app-footer></app-footer>
