<div class="page-container">
    <header class="header">
        <h1>Conoce el Buzón Tributario</h1>
    </header>

    <div class="content-container">
        <section class="inicio-section">
            <div class="columns">
                <div class="column">
                    <h2>¿Qué es el Buzón Tributario?</h2>
                    <p>El Buzón Tributario es una herramienta que permite a los contribuyentes recibir notificaciones, requerimientos y otros documentos por parte del SAT de forma electrónica.</p>
                </div>
                <div class="column">
                    <h2>Beneficios del Buzón Tributario</h2>
                    <p>Con el Buzón Tributario puedes tener acceso a:</p>
                    <ul>
                        <li>Notificaciones en tiempo real.</li>
                        <li>Mayor seguridad en la gestión de tus documentos.</li>
                        <li>Evitar el desplazamiento a oficinas del SAT.</li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Cómo acceder al Buzón Tributario</h2>
                    <p>Para acceder, solo necesitas ingresar al portal del SAT y utilizar tu e.firma o contraseña de acceso para autenticarte.</p>
                </div>
            </div>

            <div class="extra-info">
                <div class="aviso">
                    <p><strong>Aviso:</strong> Es importante revisar regularmente tu Buzón Tributario para estar al tanto de cualquier comunicación del SAT.</p>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                
                <button class="custom-button" (click)="goToInicio()">Regresar a Inicio</button>
            </div>
        </section>
    </div>

    <footer>
        <p>© 2024 SAT - Todos los derechos reservados.</p>
    </footer>
</div>
