<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Mes</th>
                    <th>Monto</th>
                    <th>Estatus</th>
                    <th>N° de operación</th>
                    <th>Fecha de presentación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Enero</td>
                    <td>$10,544.00</td>
                    <td>Presentada pagada</td>
                    <td>4748695372</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Febrero</td>
                    <td>$2,359.00</td>
                    <td>Presentada pagada</td>
                    <td>4780765422</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Marzo</td>
                    <td>$1,087.00</td>
                    <td>Presentada pagada</td>
                    <td>3724707590</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Abril</td>
                    <td>$3,066.00</td>
                    <td>Presentada con pago en cero</td>
                    <td>4895352582</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Mayo</td>
                    <td>$2,416.00</td>
                    <td>Presentada con pago en cero</td>
                    <td>8608107641</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Junio</td>
                    <td>$2,466.00</td>
                    <td>Presentada pagada</td>
                    <td>1328946097</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Julio</td>
                    <td>$6,174.00</td>
                    <td>Presentada pagada</td>
                    <td>4565515719</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Agosto</td>
                    <td>$5,282.00</td>
                    <td>Presentada pagada</td>
                    <td>3266353301</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Septiembre</td>
                    <td>$5,199.00</td>
                    <td>Presentada pagada</td>
                    <td>4293040042</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Octubre</td>
                    <td>$7,563.00</td>
                    <td>Presentada pagada</td>
                    <td>3516867048</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Noviembre</td>
                    <td>$2,930.00</td>
                    <td>Presentada pagada</td>
                    <td>3925537172</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr>
                    <td>Diciembre</td>
                    <td>$5,880.00</td>
                    <td>Presentada pagada</td>
                    <td>3398288655</td>
                    <td>xx/xx/xxxx</td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td>$54,966.00</td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

