<br>
<p><i>Los campos marcados con asterisco (*) son obligatorios</i></p>
<br>

    <div class="form-group">
        <label for="copropiedad">*¿Los ingresos fueron obtenidos a través de copropiedad?</label>
        <select id="copropiedad">
            <option value="no">No</option>
            <option value="yes">Sí</option>
        </select>
    </div>

    <div class="form-group">
        <label>Total de ingresos efectivamente cobrados <span class="material-icons" style="font-size:14px; cursor:pointer;">help_outline</span></label>
        <input type="number">
    </div>

    <div class="form-group">
        <label>Descuentos, devoluciones y bonificaciones</label>
        <div>
            <input type="number" placeholder="0">
            <button>Capturar</button>
        </div>
    </div>

    <div class="form-group">
        <label>*Ingresos a disminuir <span class="material-icons" style="font-size:14px; cursor:pointer;">help_outline</span></label>
        <div>
            <input type="number" placeholder="0">
            <button>Capturar</button>
        </div>
    </div>

    <div class="form-group">
        <label>*Ingresos adicionales</label>
        <div>
            <input type="number" placeholder="0">
            <button>Capturar</button>
        </div>
    </div>

    <div class="form-group">
        <label>Total de ingresos percibidos por la actividad</label>
        <div>
            <input type="number" placeholder="0">
            <button>Capturar</button>
        </div>
        
    </div>
