<div class="page-container">
    <main class="content-container">
      <div class="inicio-section">
        <div class="columns">
          <!-- Primera columna -->
          <div class="column">
            <h2>Verificaciones</h2>
            <button class="custom-button">Comprobar vigencia de la E-Firma</button>
            <button class="custom-button">Verificación de requisitos y obligaciones</button>
            <button class="custom-button">Verificación de buzón tributario</button>
            <button class="custom-button">Comprobar que no está en el listado 69-B</button>
          </div>
  
          <!-- Segunda columna -->
          <div class="column">
            <h2>Impuestos</h2>
            <button class="custom-button">IVA</button>
            <button class="custom-button">ISR</button>
          </div>
        </div>
      </div>
    </main>
  </div>
  