<br>
<p><i>Los campos marcados con asterisco (*) son obligatorios</i></p>
<br>


    <div class="form-group">
        <label>A cargo</label>
        <input type="number">
    </div>

    <div class="form-group">
        <label>Total de contribuciones (=)</label>
        <div>
            <input type="number" placeholder="0">
        </div>
    </div>

    <div class="form-group">
        <label for="compensaciones_si_no">*¿Tienes compensaciones por aplicar?</label>
        <select id="compensaciones_si_no">
            <option value="no">No</option>
            <option value="yes">Sí</option>
        </select>
    </div>

    <div class="form-group">
        <label for="estimulos_si_no">*¿Tienes estimulos por aplicar?</label>
        <select id="estimulos_si_no">
            <option value="no">No</option>
            <option value="yes">Sí</option>
        </select>
    </div>

    <div class="form-group">
        <label>Total de aplicaciones (=)</label>
        <div>
            <input type="number" placeholder="0">
        </div>
    </div>

    <div class="form-group">
        <label>Total de contribuciones</label>
        <div>
            <input type="number" placeholder="0">
        </div>
    </div>

    <div class="form-group">
        <label>Total de aplicaciones (-)</label>
        <div>
            <input type="number" placeholder="0">
        </div>
    </div>

    <div class="form-group">
        <label>Cantidad a cargo (=)</label>
        <div>
            <input type="number" placeholder="0">
        </div>
    </div>

    <div class="form-group">
        <label>Cantidad a pagar</label>
        <div>
            <input type="number" placeholder="0">
        </div>
    </div>