

<mat-accordion>
    <!-- Sección de Información sobre situación fiscal-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Información sobre situación fiscal</mat-panel-title>
      </mat-expansion-panel-header>
        <div class="input-container">
        <label>¿Estás obligado a presentar la información sobre tu situación fiscal (ISSIF) en términos del Art. 32-H del CFF?</label>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese otro dato</mat-label>
                <input matInput placeholder="Otro ejemplo de entrada de datos" />
            </mat-form-field>
        </div>
    </mat-expansion-panel>
  
    <!-- Sección de datos iniciales -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Datos iniciales</mat-panel-title>
      </mat-expansion-panel-header>

        <div class="input-container">
            <label>¿Los ingresos fueron obtenidos a través de copropiedad?</label>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese otro dato</mat-label>
                <input matInput placeholder="Otro ejemplo de entrada de datos" />
            </mat-form-field>
        </div>
      
    </mat-expansion-panel>

    <!-- Sección de ingresos -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Ingresos</mat-panel-title>
        </mat-expansion-panel-header>
      
        <div class="input-container">
            <label>Total de ingresos efectivamente cobrados</label>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese otro dato</mat-label>
                <input matInput placeholder="Otro ejemplo de entrada de datos" />
            </mat-form-field>
            <button>Detalles</button>
        </div>
        
        <div class="input-container">
            <label>Descuentos, devoluciones y bonificaciones (-)</label>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese otro dato</mat-label>
                <input matInput placeholder="Otro ejemplo de entrada de datos" />
            </mat-form-field>
            <button>Detalles</button>
        </div>
        <div class="input-container">
            <label>Ingresos a disminuir (-)</label>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese otro dato</mat-label>
                <input matInput placeholder="Otro ejemplo de entrada de datos" />
            </mat-form-field>
            <button>Capturar</button>
        </div>
        <div class="input-container">
            <label>Ingresos adicionales (+)</label>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese otro dato</mat-label>
                <input matInput placeholder="Otro ejemplo de entrada de datos" />
            </mat-form-field>
            <button>Capturar</button>
        </div>
        <div class="input-container">
            <label>Total de ingresos percibidos por la actividad (=)</label>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese otro dato</mat-label>
                <input matInput placeholder="Otro ejemplo de entrada de datos" />
            </mat-form-field>
            <button>Detalles</button>
        </div>
        <div class="input-container">
            <label>Ingresos gravados</label>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese otro dato</mat-label>
                <input matInput placeholder="Otro ejemplo de entrada de datos" />
            </mat-form-field>
        </div>
    </mat-expansion-panel>

    <!-- Sección de resultado -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Resultado</mat-panel-title>
        </mat-expansion-panel-header>
            <div class="input-container">
                <label>Ingresos gravados (=)</label>
                <mat-form-field appearance="outline">
                    <mat-label>Ingrese otro dato</mat-label>
                    <input matInput placeholder="Otro ejemplo de entrada de datos" />
                </mat-form-field>
            </div>
    </mat-expansion-panel>

    <!-- Sección de pagos mensuales -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Pagos mensuales</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="input-container">
            <label>Pagos mensuales</label>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese otro dato</mat-label>
                <input matInput placeholder="Otro ejemplo de entrada de datos" />
            </mat-form-field>
            <button>Detalles</button>
        </div>
    </mat-expansion-panel>

    <!-- Sección de retenciones de ISR -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Retenciones de ISR</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="input-container">
            <label>ISR retenido por personas morales</label>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese otro dato</mat-label>
                <input matInput placeholder="Otro ejemplo de entrada de datos" />
            </mat-form-field>
            <button>Capturar</button>
        </div>
    </mat-expansion-panel>

      
    <!-- Más secciones -->
    <!-- Repite el mat-expansion-panel según sea necesario -->
  </mat-accordion>
  