<div class="container mt-4 p-4">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="form-group row">
            <label for="rfcRetenedor" class="col-sm-4 col-form-label">RFC del retenedor</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="rfcRetenedor" placeholder="RFC del retenedor" />
            </div>
          </div>
          <div class="form-group row mt-3">
            <label for="nombre" class="col-sm-4 col-form-label">Nombre, denominación o razón social</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="nombre" placeholder="Nombre, denominación o razón social" />
            </div>
          </div>
          <div class="form-group row mt-3">
            <label for="informacion" class="col-sm-4 col-form-label">¿Aceptas y reconoces la información precargada?</label>
            <div class="col-sm-8">
              <select class="form-control" id="informacion">
                <option>Selecciona</option>
                <option>Sí</option>
                <option>No</option>
              </select>
            </div>
          </div>
  
          <div class="card mt-4">
            <div class="card-header">
              <h5>Salarios</h5>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label for="ingresoAnual" class="col-sm-4 col-form-label">Ingreso anual</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="ingresoAnual" placeholder="0" />
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="subsidioEmpleo" class="col-sm-4 col-form-label">Subsidio para el empleo</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="subsidioEmpleo" placeholder="0" />
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="impuestoRetenido" class="col-sm-4 col-form-label">Impuesto retenido</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="impuestoRetenido" placeholder="0" />
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="ingresoExento" class="col-sm-4 col-form-label">Ingreso exento</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="ingresoExento" placeholder="0" />
                </div>
              </div>
              <div class="form-group row mt-3">
                <label for="subsidioRecibido" class="col-sm-4 col-form-label">Subsidio para el empleo recibido</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="subsidioRecibido" placeholder="0" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer mt-4">
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
            <button type="button" class="btn btn-primary ms-auto" (click)="onConfirm()">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
