.image-container {
    margin: 20px 0;
    text-align: center;
}

/*Propiedades de las imagenes*/
.image-container img {
    max-width: 80%;
    height: auto;
    padding: 20px;
    border: 1px solid black; /* Agrega un borde negro */
}

.aclaracion {
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  button {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }