<app-header [title]="'Salarios y Asimilados'"></app-header>

<app-body>

  <h1 style="text-align: center; font-size: 3rem;">Ejercicios previamente guardados</h1>

  <table class="table">
    <thead>
      <tr>
        <th>ID Registro</th>
        <th>Ingresos Acumulables</th>
        <th>Deducciones Personales</th>
        <th>Base Gravable</th>
        <th>ISR Retenido</th>
        <th>ISR Resultante</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!sueldosBD.length && !loading">
        <td colspan="6" class="text-center">No se encontraron registros</td>
      </tr>
      <tr *ngFor="let sueldo of sueldosBD">
        <td>{{ sueldo.id_registro }}</td>
        <td>${{ sueldo.ingresos_acumulables }}</td>
        <td>${{ sueldo.deducciones_personales }}</td>
        <td>${{ sueldo.base_gravable }}</td>
        <td>${{ sueldo.isr_retenido }}</td>
        <td>${{ sueldo.isr_resultante }} {{ sueldo.isCargo ? 'A cargo' : 'A favor' }}</td>
      </tr>
      <tr *ngIf="loading">
        <td colspan="6" class="text-center">Cargando registros...</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-4 text-center">
      <button class="btn btn-primary me-2" (click)="openModal()">Ver video</button>
    </div>
    <div class="col-sm-4 text-center">
      <button class="btn btn-primary me-2" [routerLink]="'/Inicio'">Volver al inicio</button>
    </div>
    <div class="col-sm-4 text-center">
      <button class="btn btn-success" [routerLink]="'/sueldos-y-salarios/ejercicio'">Ir al ejercicio</button>
    </div>
  </div>
  
</app-body>

<app-footer></app-footer>


<!-- Modal -->
<div id="videoModal" class="modal" *ngIf="showModal" (click)="onBackdropClick($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <h3>{{ modalTitle }}</h3>
    <iframe width="100%" height="700px" src="https://www.youtube.com/embed/uCCL0ydQCt8?si=_1rMxxwAt3H9b7Zc" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>
